body {
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 800px;
}

.navbar {
    margin-bottom: 20px;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

h1,
h2 {
    color: #007BFF;
}

form {
    max-width: 500px;
    margin-top: 20px;
}

footer {
    margin-top: 50px;
    padding: 20px 0;
    background-color: #f8f9fa;
    text-align: center;
}

@media (max-width: 576px) {
    .navbar-brand {
        font-size: 1.2rem;
    }
}
