body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f9fa;
    color: #495057;
}

h1,
h2,
h3 {
    color: #007bff;
}

p {
    font-size: 18px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card {
    margin-top: 20px;
}

.card-img-top {
    border-radius: 8px 8px 0 0;
}

.btn {
    margin-top: 20px;
}
